.white-space-nowrap {white-space:nowrap}
.white-space-initial {white-space:initial}
.table-col-1 {width:8.33%}
.table-col-2 {width:16.66%;}
.table-col-3 {width:25%}
.table-col-4 {width:33.33%}
.table-col-5 {width:41.66%}
.table-col-6 {width:50%}
.table-col-7 {width:58.33%}
.table-col-8 {width:66.67%;}
.table-col-9 {width:75%}
.table-col-10 {width:83.33%}
.table-col-11 {width:91.66%}
.table-col-12 {width:100%}
@media (min-width: 576px) {
    .table-col-sm-1 {width:8.33%}
    .table-col-sm-2 {width:16.66%;}
    .table-col-sm-3 {width:25%}
    .table-col-sm-4 {width:33.33%}
    .table-col-sm-5 {width:41.66%}
    .table-col-sm-6 {width:50%}
    .table-col-sm-7 {width:58.33%}
    .table-col-sm-8 {width:66.67%;}
    .table-col-sm-9 {width:75%}
    .table-col-sm-10 {width:83.33%}
    .table-col-sm-11 {width:91.66%}
    .table-col-sm-12 {width:100%}
}
@media (min-width: 768px) {
    .table-col-md-1 {width:8.33%}
    .table-col-md-2 {width:16.66%;}
    .table-col-md-3 {width:25%}
    .table-col-md-4 {width:33.33%}
    .table-col-md-5 {width:41.66%}
    .table-col-md-6 {width:50%}
    .table-col-md-7 {width:58.33%}
    .table-col-md-8 {width:66.67%;}
    .table-col-md-9 {width:75%}
    .table-col-md-10 {width:83.33%}
    .table-col-md-11 {width:91.66%}
    .table-col-md-12 {width:100%}
}
@media (min-width: 992px) {
    .table-col-lg-1 {width:8.33%}
    .table-col-lg-2 {width:16.66%;}
    .table-col-lg-3 {width:25%}
    .table-col-lg-4 {width:33.33%}
    .table-col-lg-5 {width:41.66%}
    .table-col-lg-6 {width:50%}
    .table-col-lg-7 {width:58.33%}
    .table-col-lg-8 {width:66.67%;}
    .table-col-lg-9 {width:75%}
    .table-col-lg-10 {width:83.33%}
    .table-col-lg-11 {width:91.66%}
    .table-col-lg-12 {width:100%}
}
@media (min-width: 1200px) {
    .table-col-xl-1 {width:8.33%}
    .table-col-xl-2 {width:16.66%;}
    .table-col-xl-3 {width:25%}
    .table-col-xl-4 {width:33.33%}
    .table-col-xl-5 {width:41.66%}
    .table-col-xl-6 {width:50%}
    .table-col-xl-7 {width:58.33%}
    .table-col-xl-8 {width:66.67%;}
    .table-col-xl-9 {width:75%}
    .table-col-xl-10 {width:83.33%}
    .table-col-xl-11 {width:91.66%}
    .table-col-xl-12 {width:100%}
}

.order-header {
    margin-bottom: 15px;
}

.order-header h3 {
    margin: 2px;
    padding: 2px;
}

.tooltip-inner {
    max-width: 250px;
    width: 250px;
}

.page-header h1 {
    padding: 0;
    margin: 0;
}

.order-main-icon i {
    font-size: 20px;
}

.table-installment  { border-color:transparent!important}
.table-installment th.transparent, .table-installment td.transparent {border:none!important; border-top:none!important;background:#fff!important}
.table-installment {margin-top:-20px}

.totalOrder {margin-top:10px}
