.order-header {
    margin-bottom: 15px;
}

.order-header h3 {
    margin: 2px;
    padding: 2px;
}

.tooltip-inner {
    max-width: 250px;
    width: 250px;
}

.page-header h1 {
    padding: 0;
    margin: 0;
}

.order-main-icon i {
    font-size: 20px;
}

.table-installment  { border-color:transparent!important}
.table-installment th.transparent, .table-installment td.transparent {border:none!important; border-top:none!important;background:#fff!important}
.table-installment {margin-top:-20px}

.totalOrder {margin-top:10px}
