/* progtrckr */
/*
 * From : http://blog.sathomas.me/post/tracking-progress-in-pure-css
 */
ul.progtrckr {
    margin: 0;
    padding: 0 0 25px 0;
    list-style-type: none;
}

ul.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
    width: 19.6%;
}

ul.progtrckr li.progtrckr-done {
    color: #000000;
    border-bottom: 4px solid #9acd32;
}

ul.progtrckr li.progtrckr-todo {
    color: #c0c0c0;
    border-bottom: 4px solid #c0c0c0;
}

ul.progtrckr li.progtrckr-error {
    color: #ff0000;
    border-bottom: 4px solid #ff0000;
}

ul.progtrckr li.progtrckr-pending {
    color: #F2BF48;
    border-bottom: 4px solid #F2BF48;
}

ul.progtrckr li:after {
    content: "\00a0\00a0";
}

ul.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 45%;
    line-height: 1em;
}

ul.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: #ffffff;
    background-color: #9acd32;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}

ul.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: #c0c0c0;
    background-color: #ffffff;
    font-size: 1.5em;
    bottom: -1.6em;
}

ul.progtrckr li.progtrckr-pending:before {
    content: "\039F";
    color: #F2BF48;
    background-color: #ffffff;
    font-size: 1.5em;
    bottom: -1.6em;
}

/* Checkout page */
.cart-product .panel-body {
    padding: 5px 20px 20px 20px;
}

.cart-product .cart-product-list {
    width: 100%;
}

.cart-product .cart-product-list td:first-child {
    width: 75%;
}

.cart-product .cart-product-list td:last-child {
    border-bottom: 0;
}

.cart-product .cart-product-list tr {
    border-bottom: 1px solid #ccc;
    height: 35px;
}

.cart-product-list tr.footer {
    border-top: 3px solid #ccc;
}

.cart-product .cart-product-list .badge-success {
    font-size: 14px;
}

.cart-product .cart-product-list th,
.cart-product .cart-product-list td {
    padding-left: 15px;
    padding-right: 15px;
}

.cart-product .cart-product-single {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.order-checkout h3 {
    padding: 0;
    margin: 0;
}

#pi-order.userSection .container {
    max-width: none;
    width: auto;
}

.address-single > div {
    margin: 0px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    /* min-height: 180px; */
}
.address-single .info {
    min-height:172px;
}

.submit_order_simple {
    font-size: 1.2em;
    font-weight: 600;
    width: 200px
}

.btn-simple {
    color: #525251;
    background: #fff;
    border: 1px solid #525251;
}

.btn-simple:hover {
    color: #000;
    border: 1px solid #000;
}

.btn-address-delete,
.btn-address-edit {
    color: #525251;
    background: #fff;
    border: 1px solid #ccc;
    border-radius:0;
}

.btn-address-edit:hover {
    color: #ffffff;
    background:#03A9F4;
    border-color: #03A9F4;
}

.btn-address-delete:hover {
    background:#ccc;
    color:#525251;
    border-color: #ccc;
}

.address-single .fa-check {
    color: #fff;
    font-size: 12px
}

.address-single .list-inline li {
    padding: 0
}

.selected-address {
    display: inline-block;
    padding: 10px 5px;
    border-radius: 0px;
    margin-right:-3px;
    font-size:14px;
    font-weight: 400;
}

.text-loyalty {
    color: #5ebc5f
}

.radio label {
    font-size: 1.1em;
    padding-bottom: 15px;
}

.btn-delete {
    background:#ccc;
    color:#000;
    border-radius:0px;
}

.btn-standard {
    background:#f9f9f9;
    color:#000;
    border-radius:0px;
    border:1px solid #ddd
}

.btn-success {padding:5px!important}

.btn-refresh {
    color: #03A9F4;
    border: 1px solid #03A9F4;
    background: #fff;
    margin-left:-1px;
    padding:5px!important;
}
.btn-refresh:hover {
    color: #fff;
    background: #03A9F4;
    margin-left:-1px;
    padding:5px!important;
}

.table-installment  { border-color:transparent!important}
.table-installment th.transparent, .table-installment td.transparent {border:none!important; border-top:none!important;background:#fff!important}
.table-installment {margin-top:-20px}

#addressListModal .panel {margin-bottom:0px; margin-top:-1px; background:#f5f5f5; border:1px solid #e3e3e3;padding:15px 20px}
#addressListModal .panel.bottom{margin-top:-21px; border-radius:0 0 8px 8px}
#addressListModal .panel h2 {margin:0; line-height:30px}
#addressListModal .address hr,
#addressListModal .address .col-md-4,
#addressListModal .address {margin-top:10px;}
#addressListModal .address-single .info {min-height:0}
