/* progtrckr */
/*
 * From : http://blog.sathomas.me/post/tracking-progress-in-pure-css
 */
ul.progtrckr {
    margin: 0;
    padding: 0 0 25px 0;
    list-style-type: none;
}

ul.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
    width: 19.6%;
}

ul.progtrckr li.progtrckr-done {
    color: #000000;
    border-bottom: 4px solid #9acd32;
}

ul.progtrckr li.progtrckr-todo {
    color: #c0c0c0;
    border-bottom: 4px solid #c0c0c0;
}

ul.progtrckr li.progtrckr-error {
    color: #ff0000;
    border-bottom: 4px solid #ff0000;
}

ul.progtrckr li.progtrckr-pending {
    color: #F2BF48;
    border-bottom: 4px solid #F2BF48;
}

ul.progtrckr li:after {
    content: "\00a0\00a0";
}

ul.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 45%;
    line-height: 1em;
}

ul.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: #ffffff;
    background-color: #9acd32;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}

ul.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: #c0c0c0;
    background-color: #ffffff;
    font-size: 1.5em;
    bottom: -1.6em;
}

ul.progtrckr li.progtrckr-pending:before {
    content: "\039F";
    color: #F2BF48;
    background-color: #ffffff;
    font-size: 1.5em;
    bottom: -1.6em;
}

/* Checkout page */
.cart-product .panel-body {
    padding: 5px 20px 20px 20px;
}

.cart-product .cart-product-list {
    width: 100%;
}

.cart-product .cart-product-list td:first-child {
    width: 75%;
}

.cart-product .cart-product-list td:last-child {
    border-bottom: 0;
}

.cart-product .cart-product-list tr {
    border-bottom: 1px solid #ccc;
    height: 35px;
}

.cart-product .cart-product-list .label-success {
    font-size: 14px;
}

.cart-product .cart-product-list th,
.cart-product .cart-product-list td {
    padding-left: 15px;
    padding-right: 15px;
}

.cart-product .cart-product-single {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.order-checkout h3 {
    padding: 0;
    margin: 0;
}

#pi-order.userSection .container {
    max-width: none;
    width: auto;
}

.customer-single > div {
    margin: 0px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    /* min-height: 180px; */
}

.submit_order_simple {
    font-size: 1.2em;
    font-weight: 600;
    width: 200px
}

.btn-simple {
    color: #333;
    background: #fff;
    border: 1px solid #333;
}

.btn-simple:hover {
    color: #000;
    border: 1px solid #000;
}

.customer-single .fa-check {
    color: #fff;
    font-size: 12px
}

.customer-single .list-inline li {
    padding: 0
}

.showCustomerFrom.inverse {
    color: #EC407A;
    border: 1px solid #EC407A;
    background: #fff
}

.selected-address {
    display: inline-block;
    padding: 9px 5px 9px 5px;
    border-radius: 0px;
    margin-right:-3px;
}

.text-loyalty {
    color: #5ebc5f
}

.radio label {
    font-size: 1.1em;
    padding-bottom: 15px;
}

.btn-delete {
    background:#ccc;
    color:#000;
    border-radius:0px;
}

.btn-success {padding:5px!important}


.btn-refresh {
    color: #03A9F4;
    border: 1px solid #03A9F4;
    background: #fff;
    margin-left:-1px;
    padding:5px!important;
}
.btn-refresh:hover {
    color: #fff;
    background: #03A9F4;
    margin-left:-1px;
    padding:5px!important;
}