body {
    -webkit-print-color-adjust: exact;
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}

#print {
    padding: 5mm;
}

.print-title {
    border: 1px solid #333333 !important;
    background: #cccccc !important;
    color: #000000 !important;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.print-text {
    border: 1px solid #333333 !important;
    background: #cccccc !important;
    color: #000000 !important;
    padding: 12px;
    text-align: center;
    margin-bottom: 15px;
}

.print-user {
    border: 1px solid #333333 !important;
    color: #000000 !important;
    padding: 12px;
    margin-bottom: 15px;
}

.text-normal {
    font-size: .9em;
}

.text-small {
    font-size: .7em;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #333333 !important;
}

.table-striped > tbody > tr:nth-child(odd) {
    background: #cccccc !important;
}

.table td,
.table th {
    background: #cccccc !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #333333 !important;
}

.table > thead > tr > th {
    border-bottom: 2px solid #333333 !important;
}

.table > tbody + tbody {
    border-top: 2px solid #333333 !important;
}

.table-bordered {
    border: 1px solid #333333 !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #333333 !important;
}